<p id="notice"><%= notice %></p>

<p id="title" style="font-size: 24px; text-align: center">
  <%= @article.title %>
</p>



<p id="body" style="font-size: 20px; margin: 40px">

  <%= @article.body %>
</p>

<p class="tags">
  Tags:
  <% @article.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag) %>
  <% end %>
</p>

<button id="edit"><%= link_to 'Edit', edit_article_path(@article) %> </button>
<button id="back"><%= link_to 'Back', articles_path %></button>

<h3 style="margin-top: 50px"> Comments(<%= @article.comments.size %>)</h3>
<%= render partial: 'articles/comment', collection: @article.comments %>
<%= render partial: 'comments/form' %>